<div class="row">
  <div class="col-md-7">
    <h1>Sellers <%= link_to 'Create new', new_seller_path, class: 'btn btn-success' %></h1>
    <%= count_for @sellers, 'Total:' %>
    <hr>

    <% unless flash[:notice].blank? %>
      <div class="alert alert-success">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>

    <h3>Seller details</h3>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Rating</th>
          <th>Total products:</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @sellers %>
      </tbody>
    </table>
  </div>
</div>
