<div class="jumbotron">
  <h1><%= @title %></h1>
  <h2><%= @subtitle %></h2>
  <br>
  <h2>You can choose from <%= @products.count %> different products.<%= link_to ' Start shopping now!', products_path %></h2>
</div>